# 操作系統相關
.DS_Store
Thumbs.db
desktop.ini

# 編輯器相關
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 壓縮檔
*.zip
*.7z
*.rar

# 日誌文件
*.log

# 暫存文件
/tmp
/temp

# Node.js相關
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log* 